<div class="card" [busy]="isSaving">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12" *ngFor="let setting of surveyTimestampSettings; let i = index">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="Setting_isEnabled_'+ i" [(ngModel)]="setting.isEnabled" [id]="'Setting_isEnabled_'+ i"  />
                    <label class="custom-control-label" [for]="'Setting_isEnabled_'+ i">
                    {{ setting.hospitalName }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="saveSurveyTimestampSettings()">
            {{ 'Save' | localize }}
        </button>
    </div>
</div>
