<form #fileForm1="ngForm" (ngSubmit)="uploadFileAdmin()" class="form-horizontal col-md-12" autocomplete="off">
    <abp-modal-header [title]="'Upload Admin File' | localize" (onCloseClick)="oncloseCLick()"></abp-modal-header>    
        <div class="modal-body">
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="filename">
                    {{ "Assign Filename" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    type="text"
                    class="form-control"
                    name="filename"
                    id="filename"
                    required
                    minlength="2"
                    maxlength="50"
                    [(ngModel)]="filename"
                    />
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="manufacturerName">
                    {{ "Manufacturer" | localize }}
                </label>
                <div class="col-md-8">
                    <input
                        type="text"
                        class="form-control"
                        name="manufacturerName"
                        id="manufacturerName"
                        required
                        minlength="2"
                        maxlength="50"
                        [(ngModel)]="manufacturerName"
                        readonly
                    />
                </div>
                <div class="col-md-1">
                    <button (click)="selectManufacturer()" class="btn btn-success btn-sm">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                </div>   
            </div>
            <div class="form-group row">
                <input 
                    id="file-upload-admin" 
                    name="file-upload-admin" 
                    type="file" 
                    (change)="changeListenerAdmin($event.target.files)"
                    data-browse-on-zone-click="true" 
                    #fileInput1
                >
            </div>
        </div>
     <abp-modal-footer 
        [saveLabel] = "'Upload' | localize"
        (onCancelClick)="oncloseCLick()"
    >
    </abp-modal-footer>
</form>