<form class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewUser' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'UserDetails' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ 'Name' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="user.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            {{ 'Surname' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="surname"
              id="surname"
              required
              maxlength="32"
              [(ngModel)]="user.surname"
              #surnameModel="ngModel"
              #surnameEl
            />
            <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="userName">
            {{ 'UserName' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="user.userName"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="password">
            {{ 'Password' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
              maxlength="32"
              validateEqual="confirmPassword"
              reverse="true"
              pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[\d])(?=.*?[^\sa-zA-Z0-9]).{8,}"
              [(ngModel)]="user.password"
              #passwordModel="ngModel"
              #passwordEl
            />
            <abp-validation-summary
              [control]="passwordModel"
              [controlEl]="passwordEl"
              [customValidationErrors]="passwordValidationErrors"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="confirmPassword">
            {{ 'ConfirmPassword' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              required
              maxlength="32"
              validateEqual="password"
              reverse="false"
              ngModel
              #confirmPasswordModel="ngModel"
              #confirmPasswordEl
            />
            <abp-validation-summary
              [control]="confirmPasswordModel"
              [controlEl]="confirmPasswordEl"
              [customValidationErrors]="confirmPasswordValidationErrors"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="emailAddress">
            {{ 'EmailAddress' | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="email"
              class="form-control"
              name="emailAddress"
              id="emailAddress"
              required
              maxlength="256"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
              [(ngModel)]="user.emailAddress"
              #emailAddressModel="ngModel"
              #emailAddressEl
            />
            <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ 'IsActive' | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="isActive" id="isActive" [(ngModel)]="user.isActive" />
              <label class="custom-control-label mt-2" for="isActive"></label>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'UserRoles' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">

          <div class="custom-control">
              <div class="custom-radio d-inline">
                <input
                  type="radio"
                  class="custom-control-input"  
                  id="isSelectMainRoles"
                  name="userRoles"
                  [(ngModel)]="isMainRole"
                  [value]="1"
                  (change)="onRadioClick(1)"
                  #mainRolesRadio
                />
                <label class="custom-control-label" for="isSelectMainRoles">
                  {{ "Main Roles" | localize }}
                </label>
              </div>
              
              <ng-container *ngFor="let role of roles | callback: filterMainRoles; let i = index" >
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="'role_' + i"
                      [checked]="isRoleChecked(role.normalizedName)"
                      (change)="onRoleChange(role, $event)"
                      [disabled]="disableMainRole"
                      #checkboxesMain                 
                    />
                    <label class="custom-control-label" [for]="'role_' + i">
                      {{ role.name }}
                    </label>
                  </div>
                </div>
              </ng-container>              
          </div>
          
          <div class="custom-control">
            <div class="custom-radio d-inline">
                <input
                    type="radio"
                    class="custom-control-input"
                    id="isSelectSuperAdmin"
                    name="userRoles"
                    [(ngModel)]="isSuperAdmin"
                    [value]="3"
                    (change)="onRadioClick(3)"
                    #superAdminRadio
                />
                <label class="custom-control-label" for="isSelectSuperAdmin">
                  {{ "SuperAdmin" | localize }}
                </label>
            </div>            

            <ng-container *ngFor="let role of roles | callback: filterSuperAdmin" >
              <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [id]="role_7"
                    [checked]="isRoleChecked(role.normalizedName)"
                    (change)="onRoleChange(role, $event)"
                    [disabled]="disableSuperadmin"
                    #checkboxesSuperAdmin
                  />
                  <label class="custom-control-label" [for]="role_7">
                    {{ role.name }}
                  </label>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="custom-control">
            <div class="custom-radio d-inline">
                <input
                    type="radio"
                    class="custom-control-input"
                    id="isSelectManufacturer"
                    name="userRoles"
                    [(ngModel)]="isManufacturer"
                    [value]="2"
                    (change)="onRadioClick(2)"
                    #otherRolesRadio
                />
                <label class="custom-control-label" for="isSelectManufacturer">
                  {{ "Other Roles" | localize }}
                </label>
            </div>
            

            <ng-container *ngFor="let role of roles | callback: filterManufacturer" >
              <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [id]="role_8"
                    [checked]="isRoleChecked(role.normalizedName)"
                    (change)="onRoleChange(role, $event)"
                    [disabled]="disableManufacturer"
                    #checkboxesManufacturer
                  />
                  <label class="custom-control-label" [for]="role_8">
                    {{ role.name }}
                  </label>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="form-group row mt-5" *ngIf="this.checkedRolesMap['SURGEON']">
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input
                [(ngModel)]="user.experience"
                [value]="1"
                type="radio"
                class="custom-control-input"
                id="experience_ZeroToOneYear"
                name="experience"
              />
              <label class="custom-control-label" for="experience_ZeroToOneYear"> &lt; 5 years </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input
                [(ngModel)]="user.experience"
                [value]="2"
                type="radio"
                class="custom-control-input"
                id="experience_OneToFiveYears"
                name="experience"
              />
              <label class="custom-control-label" for="experience_OneToFiveYears"> 6 - 7 years </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input
                [(ngModel)]="user.experience"
                [value]="3"
                type="radio"
                class="custom-control-input"
                id="experience_FiveToTenYears"
                name="experience"
              />
              <label class="custom-control-label" for="experience_FiveToTenYears"> 8 - 9 years </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input
                [(ngModel)]="user.experience"
                [value]="4"
                type="radio"
                class="custom-control-input"
                id="experience_OverTenYears"
                name="experience"
              />
              <label class="custom-control-label" for="experience_OverTenYears"> > 10 years </label>
            </div>
          </div>
        </div>
        <div class="form-group row mt-5" *ngIf="this.checkedRolesMap['MANUFACTURER']">
          <div class="col-md-12">
            <label for="ManufactureName" class="col-form-label">{{ 'Manufacturer' | localize }} *</label>
            <div class="input-group">
              <select
                id="Manufacture_Name"
                name="Manufacture_Name"
                [(ngModel)]="selectedManfacturer"
                class="form-control col-sm-6"
                (change)="onManufactureChange()"
              >
                <option *ngFor="let manufacturer of manufactures" [value]="manufacturer.id">{{ manufacturer.name }}</option>
              </select>

              <!--
              <input
                [(ngModel)]="user.manufactureName"
                name="Manufacture_Name"
                id="Manufacture_Name"
                [typeahead]="manufactures"
                typeaheadOptionField="name"
                class="form-control"
                [typeaheadMinLength]="0"
                (typeaheadOnSelect)="onManufactureChange($event)"
              />
              <div class="input-group-append">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              -->

            </div>
          </div>
        </div>
      </tab>
      <!--
        <tab [heading]="'UserHospitals' | localize" class="pt-3 px-2">
        <app-assign-hospitals #assignHospitalsComponent></app-assign-hospitals>
      </tab>
      -->
      <tab *ngIf="this.checkedRolesMap['SURGEON']" [heading]="'SurgeonSpecialties' | localize" class="pt-3 px-2">
        <app-assign-specialties #assignSpecialtiesComponent></app-assign-specialties>
      </tab>
      <tab *ngIf="!this.checkedRolesMap['MANUFACTURER']" [heading]="'User Hospitals'" class="pt-3 px-2">
        <p-tree
          [(selection)]="selectedNodes"
          [value]="regions"
          display="chip"
          [metaKeySelection]="false"
          selectionMode="checkbox"
          placeholder="Select Item"
          onchange="onNodeChange($event)"
        ></p-tree>        
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
