<div [@routerTransition]>
  <h4 class="text-center mb-3">{{ "ResetPassword" | localize }}</h4>
  <form novalidate autocomplete="off" #resetPasswordForm="ngForm" (ngSubmit)="onResetPasswordSubmit()">
    <div class="form-group">
      <div class="input-group">
        <input type="password" class="form-control" id="NewPassword" name="NewPassword"
          [(ngModel)]="passwordReset.newPassword" [placeholder]="'NewPassword' | localize" required maxlength="32"
          #newPasswordModel="ngModel" #newPasswordEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="password" class="form-control" id="PewPasswordConfirmation" name="NewPasswordConfirmation"
          [(ngModel)]="passwordReset.newPasswordConfirmation" [placeholder]="'Confirmation' | localize" required
          maxlength="32" #newPasswordConfirmationModel="ngModel" #newPasswordConfirmationEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="newPasswordConfirmationModel" [controlEl]="newPasswordConfirmationEl"></abp-validation-summary>
    </div>
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-default" [disabled]="saving" [routerLink]="['../login']">
          <i class="fa fa-arrow-circle-left"></i> {{ "Back" | localize }}
        </button>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.form.valid || saving">
          {{ "Submit" | localize }}
        </button>
      </div>
    </div>
  </form>
</div>